.header {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
  padding: 0 2rem;
  height: 65px;

  .header__inner {
    @include flex-align-center;
    justify-content: space-between;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__left {
    .menu__con {
      display: none;
    }
  }

  &__middle {
    @include flex-align-center;
    width: 40%;

    .search {
      background-color: #f3f3f3;
      padding: 0.3rem 0;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px;

      &__icon {
        @include flex-align-center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: $--orange-main;
      }
    }
  }

  &__middle2 {
    @include flex-align-center;
    width: 100%;
    margin: 0 auto;

    .search {
      background-color: #f3f3f3;
      padding: 0.3rem 0;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px;

      &__icon {
        @include flex-align-center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: $--orange-main;
      }
    }
  }

  &__right {
    @include flex-align-center;
    gap: 1rem;

    .favorites {
      @include flex-align-center;
      transition: $--short-transition;

      &:hover {
        color: $--orange-main;
      }

      svg {
        margin-right: 0.1rem;
        font-size: 18px;
      }
    }

    .count__con {
      @include flex-align-center;
      position: relative;
      gap: 0.3rem;
      transition: $--short-transition;

      &:hover .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
        color: $--orange-main;
        transition: $--short-transition;
      }

      &:hover {
        color: $--orange-main;
      }

      .shop__icon {
        font-size: 1.5rem;
      }
    }

    .login {
      transition: $--short-transition;
      @include flex-align-center;
      gap: 0.3rem;
      &:hover {
        color: $--orange-main;
      }
    }

    .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
      padding: 0;
    }
  }

  .header__middle2__con {
    display: none;
  }
}
