.header {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
  padding: 0 2rem;
  height: 65px;

  .header__inner {
    @include flex-align-center;
    justify-content: space-between;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header__left {
    .menu__con {
      display: none;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    z-index: 100;

    .data__result {
      width: 100%;
      height: auto;
      max-height: 250px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      overflow: hidden;
      overflow-y: auto;
      line-height: 1.5rem;
      position: absolute;
      top: 36px;
      border-radius: 0.4rem 0 0 0.4rem;

      .data__item {
        p {
          padding: 0.4rem 1rem;
          &:hover {
            transition: $--short-transition;
            background-color: #f5f5f5;
          }
        }
      }
    }

    .search {
      background-color: #f3f3f3;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px;
      display: flex;

      &__icon {
        @include flex-align-center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: $--orange-main;
      }

      .close__icon {
        @include flex-align-center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: $--orange-main;
      }
    }
  }

  &__middle2 {
    display: flex;
    position: relative;

    .data__result {
      margin-top: 5px;
      width: 100%;
      height: auto;
      max-height: 250px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      overflow: hidden;
      overflow-y: auto;
      line-height: 1.8rem;
      position: absolute;
      top: 35px;
      border-radius: 0.4rem 0 0 0.4rem;
      padding: 0.3rem 0;
      padding-left: 0.5rem;

      .data__item {
        p {
          &:hover {
            transition: $--short-transition;
            background-color: #f5f5f5;
          }
        }
      }
    }

    .search {
      background-color: #f3f3f3;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px;
      display: flex;

      &__icon {
        @include flex-align-center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: $--orange-main;
      }

      .close__icon {
        @include flex-align-center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: $--orange-main;
      }
    }
  }

  &__right {
    @include flex-align-center;
    position: relative;
    gap: 1rem;

    .favorites {
      @include flex-align-center;
      transition: $--short-transition;

      &:hover {
        color: $--orange-main;
      }

      svg {
        margin-right: 0.1rem;
        font-size: 18px;
      }
    }

    .count__con {
      @include flex-align-center;
      position: relative;
      gap: 0.3rem;
      transition: $--short-transition;

      &:hover .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
        color: $--orange-main;
        transition: $--short-transition;
      }

      &:hover {
        color: $--orange-main;
      }

      .shop__icon {
        font-size: 1.5rem;
      }
    }

    .login {
      transition: $--short-transition;
      @include flex-align-center;
      padding: 0.5rem 0;
      gap: 0.3rem;
      &:hover {
        color: $--orange-main;
      }
    }

    .modal {
      padding: 1rem;
      border-radius: 0.5rem;
      position: absolute;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      top: 41px;
      left: -60px;
      z-index: 100;
      background-color: $--white-text;
      color: $--black-text;
      border: 1px solid $--border-color;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .login__btn {
        @include single-add-btn;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;

        &:hover {
          background-color: $--orange-main-hover;
          transition: $--short-transition;
        }
      }
      .register__btn {
        @include single-add-btn;
        background-color: #ffff;
        color: $--black-text;
        border: 1px solid $--border-color;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;

        &:hover {
          background-color: #f3f3f3;
          transition: $--short-transition;
        }
      }
    }

    .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
      padding: 0;
    }
  }

  .header__middle2__con {
    display: none;
  }
}
