.basket {
  &__page__container {
    display: flex;
    margin: 2rem 3rem;
    gap: 1rem;
    min-height: 300px;
    align-items: center;
    justify-content: center;
  }

  &__products {
    flex: 0.8;
  }

  &__price {
    flex: 0.2;
    min-width: 200px;
  }
}
