.filter__container {
  .filter__brand {
    padding-right: 1rem;

    .filter__header {
      @include flex-align-center;
      justify-content: space-between;
      cursor: pointer;
      margin-bottom: 0.3rem;
      background-color: $--border-color;
      padding: 0.5rem;
      border-radius: 0.3rem;

      .arrow__icon {
        &.active {
          transform: rotate(180deg);
        }
      }
    }

    .filter__inner__con {
      .filter__inner {
        margin-bottom: 0.2rem;
        .css-p82ss4-MuiButtonBase-root-MuiCheckbox-root {
          padding: 2px 9px;
          margin-left: 0.5rem;
        }
      }

      &.active {
        display: none;
      }
    }

    .sorting__price__con {
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
