@media only screen and (max-width: 1024px) {
  .product__filter {
    display: none;
  }
  .banner__containers {
    margin-top: 2rem;
    padding: 2rem !important;
  }
  .swiper__con {
    padding: 2rem !important;
  }

  .laptop__single__info .single__inner__desc ul li {
    width: 100% !important;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 5rem;
    height: 115px;

    .header__left {
      @include flex-align-center;
      gap: 0.5rem;

      .menu__con {
        display: block;
        .menu__inner {
          @include flex-align-center;
          flex-direction: column;
          line-height: 0.4rem;

          .menu__icon {
            font-size: 1.8rem;
          }

          p {
            font-size: 10px;
          }
        }
      }
    }

    .header__right {
      padding-right: 0.2rem;
      .login {
        span {
          display: none;
        }
      }

      .favorites {
        span {
          display: none;
        }
      }

      .count__text {
        display: none;
      }

      .favorites__icon {
        font-size: 1.5rem;
      }

      .login__icon {
        font-size: 1.8rem;
      }
    }
  }

  .header__middle {
    display: none;
  }

  .header__middle2__con {
    display: block !important;
  }

  nav {
    position: absolute;
    width: 40%;
    height: 100vh;
    top: 0%;
    left: -100%;
    transition: $--long-transition;
    overflow: scroll;
    z-index: 100;
    background: $--white-text;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 0;

    &.active {
      left: 0%;
    }

    .nav__header {
      @include flex-align-center;
      justify-content: space-between;
      margin-bottom: 2rem;
      background-color: rgb(235, 235, 235);
      padding: 1rem;
    }

    .line {
      display: none;
    }

    .nav-list {
      flex-direction: column;
      display: block;
      text-align: left;
      width: 100%;
      padding: 0 1rem;

      .nav-item {
        border-bottom: 1px solid $--border-color;
        @include flex-align-center;
        justify-content: space-between;
        margin: 2rem 0;

        .arrow__icon {
          font-size: 1rem;
        }
      }
    }
  }

  .box__container {
    padding: 2rem !important;
  }

  .banner__containers {
    flex-wrap: wrap;
  }

  .products__container{
    margin: 2rem 10rem !important;

  }
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 0 1rem;
  }

  nav {
    width: 100%;
  }

  .laptop__single {
    padding: 2rem !important;
  }



  .products__inner__container {
    gap: 2rem !important;
  }

  .swiper__con {
    padding: 0 2rem !important;
  }
  .credit {
    font-size: 14px;
  }

  .login__container {
    padding: 2rem !important;

    .login__text {
      width: inherit !important;
    }
  }
}
