$--black-text: rgb(0, 0, 0);
$--white-text: #ffff;
$--orange-main: #f27a1a;
$--orange-main-hover: #ff8b39;
$--short-transition: all 0.2s linear;
$--long-transition: all 0.5s linear;
$--border-color: rgb(221, 221, 221);
$--credit-bg-color: #2d2d2d;
