@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

button,
input {
  border: none;
  outline: none; }

img {
  width: 100%;
  height: auto; }

.header {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
  padding: 0 2rem;
  height: 65px; }
  .header .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto; }
  .header .header__left .menu__con {
    display: none; }
  .header__middle {
    display: flex;
    align-items: center;
    width: 40%; }
    .header__middle .search {
      background-color: #f3f3f3;
      padding: 0.3rem 0;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px; }
      .header__middle .search__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: #f27a1a; }
  .header__middle2 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto; }
    .header__middle2 .search {
      background-color: #f3f3f3;
      padding: 0.3rem 0;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px; }
      .header__middle2 .search__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: #f27a1a; }
  .header__right {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .header__right .favorites {
      display: flex;
      align-items: center;
      transition: all 0.2s linear; }
      .header__right .favorites:hover {
        color: #f27a1a; }
      .header__right .favorites svg {
        margin-right: 0.1rem;
        font-size: 18px; }
    .header__right .count__con {
      display: flex;
      align-items: center;
      position: relative;
      gap: 0.3rem;
      transition: all 0.2s linear; }
      .header__right .count__con:hover {
        color: #f27a1a; }
      .header__right .count__con .shop__icon {
        font-size: 1.5rem; }
    .header__right .login {
      transition: all 0.2s linear;
      display: flex;
      align-items: center;
      gap: 0.3rem; }
      .header__right .login:hover {
        color: #f27a1a; }
  .header .header__middle2__con {
    display: none; }

nav {
  padding: 0.5rem 0; }
  nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem; }
    nav .nav-list .nav-item .nav-link {
      text-transform: uppercase; }
      nav .nav-list .nav-item .nav-link:hover {
        color: #f27a1a;
        border-bottom: 2px solid #f27a1a; }
      nav .nav-list .nav-item .nav-link.active {
        border-bottom: 2px solid #f27a1a;
        color: #f27a1a; }
    nav .nav-list .nav-item .arrow__icon {
      display: none; }
  nav .nav__header {
    display: none; }
  nav .line {
    border: 0.1px solid #e7e7e7;
    border-radius: 5px; }

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 5rem;
    height: 115px; }
    .header .header__left {
      display: flex;
      align-items: center;
      gap: 0.5rem; }
      .header .header__left .menu__con {
        display: block; }
        .header .header__left .menu__con .menu__inner {
          display: flex;
          align-items: center;
          flex-direction: column;
          line-height: 0.4rem; }
          .header .header__left .menu__con .menu__inner .menu__icon {
            font-size: 1.8rem; }
          .header .header__left .menu__con .menu__inner p {
            font-size: 10px; }
    .header .header__right span {
      display: none; }
    .header .header__right .favorites__icon {
      font-size: 1.5rem; }
    .header .header__right .login__icon {
      font-size: 1.8rem; }
  .header__middle {
    display: none; }
  .header__middle2__con {
    display: block !important; }
  nav {
    position: absolute;
    width: 40%;
    height: 100vh;
    top: 0%;
    left: -100%;
    transition: all 0.5s linear;
    overflow: scroll;
    z-index: 100;
    background: #ffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 0; }
    nav.active {
      left: 0%; }
    nav .nav__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      background-color: #ebebeb;
      padding: 1rem; }
    nav .line {
      display: none; }
    nav .nav-list {
      flex-direction: column;
      display: block;
      text-align: left;
      width: 100%;
      padding: 0 1rem; }
      nav .nav-list .nav-item {
        border-bottom: 1px solid #e7e7e7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0; }
        nav .nav-list .nav-item .arrow__icon {
          font-size: 1rem; } }

@media only screen and (max-width: 600px) {
  .header {
    padding: 0 1rem; }
  nav {
    width: 100%; } }

.products__container {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto; }
  .products__container .product__filter {
    flex: 0.2;
    min-width: 200px; }
  .products__container .product__container {
    flex: 0.8;
    padding-right: 1rem; }

.laptops__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem; }
  .laptops__container .laptop__container {
    border: 1px solid #c5c5c5;
    padding: 0 2rem 1rem 2rem;
    transition: all 0.2s linear;
    border-radius: 0.8rem;
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    .laptops__container .laptop__container:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px; }
    .laptops__container .laptop__container:hover .laptop__image {
      transform: scale(1.1); }
  .laptops__container .heart {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .laptops__container .heart:hover .heart__icon {
      color: #f27a1a; }
  .laptops__container .laptop__image {
    transition: all 0.2s linear; }
  .laptops__container .laptop__desc {
    margin-top: 1rem;
    font-size: 14px; }
  .laptops__container .rating {
    margin: 0.1rem 0;
    display: flex;
    align-items: center;
    gap: 0.3rem; }
    .laptops__container .rating .reviews {
      display: flex;
      align-items: center;
      gap: 0.3rem; }
      .laptops__container .rating .reviews .css-i4bv87-MuiSvgIcon-root {
        color: #f27a1a;
        font-size: 1.1rem; }
  .laptops__container .price {
    color: #f27a1a; }
    .laptops__container .price p {
      font-size: 12px; }
  .laptops__container .css-ryrseu-MuiRating-root {
    font-size: 1rem; }

.filter__container .filter__brand {
  padding-right: 1rem; }
  .filter__container .filter__brand .filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; }
    .filter__container .filter__brand .filter__header .arrow__icon.active {
      transform: rotate(180deg); }
  .filter__container .filter__brand .filter__inner__con .css-p82ss4-MuiButtonBase-root-MuiCheckbox-root {
    padding: 2px 9px; }
  .filter__container .filter__brand .filter__inner__con.active {
    display: none; }
