@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

button {
  cursor: pointer; }

button,
input {
  border: none;
  outline: none; }

img {
  width: 100%;
  height: auto; }

.header {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 5px 0px;
  padding: 0 2rem;
  height: 65px; }
  .header .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto; }
  .header .header__left .menu__con {
    display: none; }
  .header__middle {
    display: flex;
    align-items: center;
    width: 40%; }
    .header__middle .search {
      background-color: #f3f3f3;
      padding: 0.3rem 0;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px; }
      .header__middle .search__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: #f27a1a; }
  .header__middle2 {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto; }
    .header__middle2 .search {
      background-color: #f3f3f3;
      padding: 0.3rem 0;
      border-radius: 0.4rem 0 0 0.4rem;
      width: 100%;
      margin: 0 auto;
      padding-left: 0.5rem;
      height: 30px; }
      .header__middle2 .search__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f3;
        height: 30px;
        cursor: pointer;
        color: #f27a1a; }
  .header__right {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem; }
    .header__right .favorites {
      display: flex;
      align-items: center;
      transition: all 0.2s linear; }
      .header__right .favorites:hover {
        color: #f27a1a; }
      .header__right .favorites svg {
        margin-right: 0.1rem;
        font-size: 18px; }
    .header__right .count__con {
      display: flex;
      align-items: center;
      position: relative;
      gap: 0.3rem;
      transition: all 0.2s linear; }
      .header__right .count__con:hover .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
        color: #f27a1a;
        transition: all 0.2s linear; }
      .header__right .count__con:hover {
        color: #f27a1a; }
      .header__right .count__con .shop__icon {
        font-size: 1.5rem; }
    .header__right .login {
      transition: all 0.2s linear;
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      gap: 0.3rem; }
      .header__right .login:hover {
        color: #f27a1a; }
    .header__right .modal {
      padding: 1rem;
      border-radius: 0.5rem;
      position: absolute;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      top: 41px;
      left: -60px;
      z-index: 100;
      background-color: #ffff;
      color: black;
      border: 1px solid #dddddd;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      .header__right .modal .login__btn {
        background-color: #f27a1a;
        padding: 0.7rem 0.8rem;
        border-radius: 0.3rem;
        width: 100%;
        color: white;
        transition: all 0.2s linear;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 150px; }
        .header__right .modal .login__btn:hover {
          background-color: #ff8b39;
          transition: all 0.2s linear; }
      .header__right .modal .register__btn {
        background-color: #f27a1a;
        padding: 0.7rem 0.8rem;
        border-radius: 0.3rem;
        width: 100%;
        color: white;
        transition: all 0.2s linear;
        background-color: #ffff;
        color: black;
        border: 1px solid #dddddd;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 150px; }
        .header__right .modal .register__btn:hover {
          background-color: #f3f3f3;
          transition: all 0.2s linear; }
    .header__right .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
      padding: 0; }
  .header .header__middle2__con {
    display: none; }

nav {
  padding: 0.5rem 0; }
  nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 3rem; }
    nav .nav-list .nav-item .nav-link {
      text-transform: uppercase; }
      nav .nav-list .nav-item .nav-link:hover {
        color: #f27a1a;
        border-bottom: 2px solid #f27a1a; }
      nav .nav-list .nav-item .nav-link.active {
        border-bottom: 2px solid #f27a1a;
        color: #f27a1a; }
    nav .nav-list .nav-item .arrow__icon {
      display: none; }
  nav .nav__header {
    display: none; }
  nav .line {
    border: 0.1px solid #dddddd;
    border-radius: 5px; }

@media only screen and (max-width: 1024px) {
  .product__filter {
    display: none; }
  .banner__containers {
    margin-top: 2rem;
    padding: 2rem !important; }
  .swiper__con {
    padding: 2rem !important; }
  .product__single__info .single__inner__desc ul li {
    width: 100% !important;
    white-space: nowrap; }
  .basket__product__container {
    align-items: inherit !important;
    gap: 1rem !important; }
  .basket__product__left {
    flex-direction: column;
    gap: 1rem !important;
    justify-content: space-around;
    margin-top: 1.5rem; }
  .basket__product__payment {
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem; }
  .basket__product__remove {
    position: absolute;
    top: 10px;
    right: 10px; }
    .basket__product__remove svg {
      font-size: 1.5rem !important; } }

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 1rem;
    height: 115px; }
    .header .header__left {
      display: flex;
      align-items: center;
      gap: 0.5rem; }
      .header .header__left .menu__con {
        display: block; }
        .header .header__left .menu__con .menu__inner {
          display: flex;
          align-items: center;
          flex-direction: column;
          line-height: 0.4rem; }
          .header .header__left .menu__con .menu__inner .menu__icon {
            font-size: 1.8rem; }
          .header .header__left .menu__con .menu__inner p {
            font-size: 10px; }
    .header .header__right {
      padding-right: 0.2rem; }
      .header .header__right .login span {
        display: none; }
      .header .header__right .favorites span {
        display: none; }
      .header .header__right .count__text {
        display: none; }
      .header .header__right .favorites__icon {
        font-size: 1.5rem; }
      .header .header__right .login__icon {
        font-size: 1.8rem; }
  .header__middle {
    display: none; }
  .header__middle2__con {
    display: block !important; }
  nav {
    position: absolute;
    width: 40%;
    height: 100vh;
    top: 0%;
    left: -100%;
    transition: all 0.5s linear;
    overflow: scroll;
    z-index: 100;
    background: #ffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 0; }
    nav.active {
      left: 0%; }
    nav .nav__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      background-color: #ebebeb;
      padding: 1rem; }
    nav .line {
      display: none; }
    nav .nav-list {
      flex-direction: column;
      display: block;
      text-align: left;
      width: 100%;
      padding: 0 1rem; }
      nav .nav-list .nav-item {
        border-bottom: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0; }
        nav .nav-list .nav-item .arrow__icon {
          font-size: 1rem; }
  .box__container {
    padding: 2rem !important; }
  .banner__containers {
    flex-wrap: wrap; }
  .basket__page__container {
    margin: 2rem 1rem !important; }
  .basket__price {
    display: none; }
  .basket__products {
    flex: 1 !important; } }

@media only screen and (max-width: 600px) {
  nav {
    width: 100%; }
  .product__single {
    padding: 2rem !important; }
  .products__inner__container {
    gap: 2rem !important; }
  .swiper__con {
    padding: 0 2rem !important; }
  .credit {
    font-size: 14px; }
  .form__container {
    padding: 2rem !important; }
    .form__container .form__text {
      width: inherit !important; }
  .basket__product__container img {
    max-width: 100px !important; }
  .basket__product__container .basket__product__info {
    font-size: 14px; }
  .amount__count button {
    padding: 0.2rem 0.5rem !important;
    font-size: 16px !important; }
  .amount__count span {
    padding: 0.2rem 0.5rem !important; } }

.banner__containers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 10rem; }
  .banner__containers .banner__container {
    width: 100%;
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 0.5rem; }
    .banner__containers .banner__container:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .banner__containers .banner__container:hover .banner__text {
      background-color: #f27a1a;
      transition: all 0.2s linear; }
    .banner__containers .banner__container img {
      display: block;
      border-radius: 0.5rem 0.5rem 0 0; }
    .banner__containers .banner__container .banner__text {
      background-color: black;
      color: #ffff;
      padding: 0 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px; }

.banner__container:hover .text__shop {
  display: block; }

.text__shop {
  display: none; }
  .text__shop span {
    display: flex;
    align-items: center; }
    .text__shop span .arrow {
      font-size: 14px;
      margin-left: 0.2rem; }

.swiper__con {
  margin: 5rem 0;
  padding: 0 10rem;
  border-radius: 0.2rem; }
  .swiper__con .swiper__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem; }
    .swiper__con .swiper__header a {
      text-decoration: underline;
      font-size: 14px; }
  .swiper__con .product {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    padding: 1rem 0;
    cursor: pointer; }
    .swiper__con .product:hover .product__image {
      transform: scale(1.1);
      transition: all 0.2s linear; }
    .swiper__con .product .product__info {
      text-align: left; }
      .swiper__con .product .product__info .product__price {
        margin-top: 0.3rem;
        color: #f27a1a;
        font-size: 16px; }
    .swiper__con .product .heart {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .swiper__con .product .heart:hover .heart__icon {
        color: #f27a1a; }

.swiper {
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  padding: 2rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column-reverse; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #ffff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 0.3rem; }

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 225px;
  z-index: -1; }

.swiper-button-next,
.swiper-button-prev {
  background-color: #ffff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.66) 0px 3px 6px, rgba(0, 0, 0, 0.337) 0px 3px 6px;
  height: 30px;
  width: 30px;
  color: black;
  font-weight: bold; }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 1rem; }

footer {
  background-color: black; }
  footer .box__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    padding: 5rem 10rem;
    justify-content: center; }
    footer .box__container .box h3 {
      font-size: 1rem;
      color: #ffff;
      padding: 1rem 0;
      font-weight: bold;
      cursor: pointer; }
      footer .box__container .box h3:hover {
        text-decoration: underline; }
    footer .box__container .box__list__item {
      display: block;
      font-size: 0.8rem;
      color: #ffff;
      padding: 1rem 0; }
      footer .box__container .box__list__item:hover {
        transition: all 0.2s linear;
        color: #f27a1a;
        text-decoration: underline; }
    footer .box__container .share {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 1rem; }
      footer .box__container .share .share__inner {
        display: flex; }
        footer .box__container .share .share__inner a {
          background-color: #f3f3f3;
          margin: 0.5rem;
          margin-left: 0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          padding: 0.2rem; }
          footer .box__container .share .share__inner a:hover {
            transition: all 0.2s linear;
            background-color: #f27a1a;
            color: #ffff; }
          footer .box__container .share .share__inner a .shree__icon {
            font-size: 1.2rem; }
    footer .box__container .payment__container {
      width: 250px;
      margin-top: 1rem; }
  footer .credit {
    color: #ffff;
    background-color: #2d2d2d;
    margin-top: 2rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center; }

.form__container {
  background-color: #eeeeee;
  padding: 2rem 0;
  text-align: center; }
  .form__container .form__text {
    width: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto; }
  .form__container .form_inner__container {
    padding: 1rem 2rem;
    max-width: 500px;
    margin: 2rem auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffff;
    border: #dddddd; }
    .form__container .form_inner__container h1 {
      margin-bottom: 1rem; }
    .form__container .form_inner__container .line {
      margin: 1rem 0;
      border: 1px solid black;
      border-radius: 5px;
      background-color: black; }
    .form__container .form_inner__container .create__btn {
      background-color: #f27a1a;
      padding: 0.7rem 0.8rem;
      border-radius: 0.3rem;
      width: 100%;
      color: white;
      transition: all 0.2s linear;
      background-color: #f3f3f3;
      color: black;
      font-size: 14px;
      border: 1px solid #dddddd; }
      .form__container .form_inner__container .create__btn:hover {
        transition: all 0.2s linear;
        background-color: #dddddd; }
    .form__container .form_inner__container form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 0; }
      .form__container .form_inner__container form label {
        text-align: left; }
      .form__container .form_inner__container form input {
        background-color: #f3f3f3;
        width: 100%;
        padding: 0.5rem 0;
        border-radius: 0.3rem;
        border-bottom: 1px solid #dddddd;
        margin: 0.3rem 0 1rem 0;
        padding-left: 1rem; }
        .form__container .form_inner__container form input.red {
          border: 1px solid red; }
      .form__container .form_inner__container form .form__btn {
        margin-top: 1rem;
        background-color: #f27a1a;
        padding: 0.7rem 0.8rem;
        border-radius: 0.3rem;
        width: 100%;
        color: white;
        transition: all 0.2s linear;
        font-size: 16px; }
        .form__container .form_inner__container form .form__btn:hover {
          background-color: #ff8b39; }
      .form__container .form_inner__container form .button__header {
        font-size: 14px;
        text-align: left; }
      .form__container .form_inner__container form .toggle__btn {
        margin: 0.3rem 0;
        width: 100%;
        font-weight: bold; }
        .form__container .form_inner__container form .toggle__btn:focus {
          color: #f27a1a;
          background-color: #ffff;
          border: 1px solid #f27a1a; }
      .form__container .form_inner__container form .error {
        color: red;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 0.3rem; }

.basket__page__container {
  display: flex;
  margin: 2rem 3rem;
  gap: 1rem; }

.basket__products {
  flex: 0.8; }

.basket__price {
  flex: 0.2;
  min-width: 200px; }

.payment__btn {
  background-color: #f27a1a;
  padding: 0.7rem 0.8rem;
  border-radius: 0.3rem;
  width: 100%;
  color: white;
  transition: all 0.2s linear;
  font-weight: bold;
  font-size: 16px; }
  .payment__btn:hover {
    transition: all 0.2s linear;
    background-color: #ff8b39; }

.payment__info {
  margin-top: 2rem;
  border: 1px solid #dddddd;
  padding: 1rem;
  border-radius: 0.3rem; }
  .payment__info hr {
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black; }
  .payment__info .total__price {
    display: flex;
    justify-content: space-between; }
    .payment__info .total__price .price__count {
      color: #f27a1a;
      font-size: 18px;
      font-weight: bold; }

.basket__product__container {
  border: 1px solid #dddddd;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 2px 10px 0px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  justify-content: space-evenly;
  position: relative;
  gap: 3rem; }
  .basket__product__container img {
    max-width: 150px;
    border: 1px solid #dddddd;
    padding: 1rem;
    border-radius: 0.3rem; }
  .basket__product__container .basket__product__info {
    max-width: 450px; }
  .basket__product__container .amount__count {
    border: 1px solid #dddddd;
    border-radius: 0.3rem;
    display: flex; }
    .basket__product__container .amount__count button {
      padding: 0.3rem 0.7rem;
      color: #f27a1a;
      font-size: 18px;
      background-color: #f3f3f3; }
      .basket__product__container .amount__count button:hover {
        transition: all 0.2s linear;
        background-color: #e6e6e6; }
    .basket__product__container .amount__count span {
      padding: 0.3rem 0.7rem; }
  .basket__product__container .basket__product__price {
    color: #f27a1a;
    font-size: 18px; }
  .basket__product__container .basket__product__remove {
    background-color: transparent;
    color: #f27a1a; }
    .basket__product__container .basket__product__remove svg {
      font-size: 2rem; }
    .basket__product__container .basket__product__remove:hover {
      transition: all 0.2s linear;
      color: #ff8b39; }
  .basket__product__container .basket__product__left {
    display: flex;
    align-items: center;
    gap: 3rem; }
  .basket__product__container .basket__product__payment {
    display: flex;
    align-items: center;
    gap: 3rem; }

.products__container {
  display: flex;
  margin: 2rem 3rem;
  justify-content: center; }
  .products__container .product__filter {
    flex: 0.2;
    min-width: 200px; }
  .products__container .product__container {
    flex: 0.8; }

.products__inner__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem; }
  .products__inner__container .product__inner__container {
    border: 1px solid #c5c5c5;
    padding: 1rem 2rem 1rem 2rem;
    transition: all 0.2s linear;
    border-radius: 0.8rem;
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    .products__inner__container .product__inner__container:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px; }
    .products__inner__container .product__inner__container:hover .product__image {
      transform: scale(1.1); }
  .products__inner__container .heart {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .products__inner__container .heart:hover .heart__icon {
      color: #f27a1a; }
  .products__inner__container .product__image {
    transition: all 0.2s linear; }
  .products__inner__container .product__desc {
    margin-top: 1rem;
    font-size: 14px; }
  .products__inner__container .rating {
    margin: 0.1rem 0;
    display: flex;
    align-items: center;
    gap: 0.3rem; }
    .products__inner__container .rating .reviews {
      display: flex;
      align-items: center;
      gap: 0.3rem; }
      .products__inner__container .rating .reviews .css-i4bv87-MuiSvgIcon-root {
        color: #f27a1a;
        font-size: 1.1rem; }
  .products__inner__container .price {
    color: #f27a1a; }
    .products__inner__container .price p {
      font-size: 12px; }
  .products__inner__container .css-ryrseu-MuiRating-root {
    font-size: 1rem; }

.filter__container .filter__brand {
  padding-right: 1rem; }
  .filter__container .filter__brand .filter__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 0.3rem;
    background-color: #dddddd;
    padding: 0.5rem;
    border-radius: 0.3rem; }
    .filter__container .filter__brand .filter__header .arrow__icon.active {
      transform: rotate(180deg); }
  .filter__container .filter__brand .filter__inner__con .filter__inner {
    margin-bottom: 0.2rem; }
    .filter__container .filter__brand .filter__inner__con .filter__inner .css-p82ss4-MuiButtonBase-root-MuiCheckbox-root {
      padding: 2px 9px;
      margin-left: 0.5rem; }
  .filter__container .filter__brand .filter__inner__con.active {
    display: none; }

.product__single {
  padding: 2rem 10rem; }
  .product__single__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 1px solid #dddddd;
    padding: 1rem 3rem;
    gap: 2rem; }
  .product__single__image {
    border: 1px solid #dddddd;
    padding: 1rem; }
    .product__single__image img {
      max-width: 300px; }
  .product__single__info {
    display: flex;
    flex-direction: column;
    max-width: 575px; }
    .product__single__info .single__price {
      margin: 0.5rem 0; }
      .product__single__info .single__price span {
        color: #f27a1a;
        font-size: 18px; }
    .product__single__info .single__rating {
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      gap: 0.3rem; }
      .product__single__info .single__rating .reviews {
        display: flex;
        align-items: center;
        gap: 0.3rem; }
        .product__single__info .single__rating .reviews .css-i4bv87-MuiSvgIcon-root {
          color: #f27a1a;
          font-size: 1.1rem; }
    .product__single__info .single__basket {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 0.3rem 0; }
      .product__single__info .single__basket .basket {
        width: 100%; }
        .product__single__info .single__basket .basket .add__btn {
          background-color: #f27a1a;
          padding: 0.7rem 0.8rem;
          border-radius: 0.3rem;
          width: 100%;
          color: white;
          transition: all 0.2s linear; }
          .product__single__info .single__basket .basket .add__btn:hover {
            background-color: #ff8b39; }
      .product__single__info .single__basket .heart {
        border: 1px solid #dddddd;
        border-radius: 0.3rem;
        transition: all 0.2s linear; }
        .product__single__info .single__basket .heart:hover {
          border: 1px solid #f27a1a; }
        .product__single__info .single__basket .heart:hover .css-i4bv87-MuiSvgIcon-root {
          transition: all 0.2s linear;
          color: #f27a1a; }
    .product__single__info .line {
      margin: 1rem 0;
      border: 1px solid black;
      border-radius: 5px;
      background-color: black; }
    .product__single__info .single__inner__desc h4 {
      margin-bottom: 0.5rem; }
    .product__single__info .single__inner__desc ul {
      display: flex;
      font-size: 14px;
      flex-wrap: wrap;
      justify-content: space-between; }
      .product__single__info .single__inner__desc ul li {
        display: inline-flex;
        width: 50%;
        margin-top: 10px; }
        .product__single__info .single__inner__desc ul li span {
          font-weight: bold;
          margin-left: 0.3rem; }
